<html lang="eng">

<head>
    <!-- Bootswatch -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/spacelab/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><b>Predicting Airline Prices</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predictor">Price Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visualizations">Visualizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-3 my-3">
        <div class="row justify-content-md-center">
            <h1 style="font-size:60px;"><b>Welcome!</b></h1>
            <br>
        </div>
        <div class="row justify-content-md-center">
            <br>
            <img src="static\Pictures\logo.png" alt="MAS370" width="900" height="420">
        </div>
        <div class="row justify-content-md-center">
            <h5><b>"Taking Off" into the realm of airline pricing</b></h5>
        </div>
    </div>
    <footer>
        <br>
        <p>Authors: Luis Cerilla, Arthur Edwards, Ahasan Hossain, Kyle Cielencki<br>
    </footer>
</body>

</html>